* {
    scroll-behavior: smooth;
}
body {
    background-color:  rgb(155, 155, 155);
    width: 100%;
    padding-top: 10px;
    margin: auto;
}
#cim {
    color: whitesmoke;
    background-color: rgb(155, 155, 155);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
}
#galeria {
    color: whitesmoke;
    background-color: rgb(155, 155, 155);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
}
#menu {
    border: 2px solid whitesmoke;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    margin-top: 20px;
}
#menu a {
    color: lightyellow;
    text-decoration: none;
}
#menu a:hover {
    color: yellow;
    text-decoration: underline;
}
table {
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}
td {
    width: 25%;
}
img {
    display: block;
    margin: 0;
    padding: 0;
    transition-duration: 1.5s;
}
img:hover {
    float: left;
    cursor: zoom-in;
    width: 110%;
}