body {
    background-color:rgb(126, 0, 0);
}
img {
    width: 30%;
    margin: auto;
    display: block;
}
p {
    text-align: center;
    color: white;
    font-size: 25px;
}
a {
    margin: auto;
    text-align: center;
    color: lightyellow;
    text-decoration: none;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 255, 0);
    color: black;
    padding: 10px;
}
a:hover {
    text-decoration: underline;
}
#gombok {
    text-align: center;
    margin: auto;
}
#igen:hover {
    background-color: darkgreen;
}
#nem:hover {
    background-color: darkred;
    color: white;
}