/*:root {
    --hatter: #000;
    --menu: #fff;
    var(--menu)
}*/
/*#menu {
    display:inline;
}
#menu ul li {
    display:inline;
    padding: 10px;
}
*/
* {
    scroll-behavior: initial;
}
body {
    background-color: gray;
    width: 100%;
    padding-top: 10px;
    margin: auto;
}
#cim {
    color: whitesmoke;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    width: 50%;
    margin: auto;
}
#evszam {
    color: whitesmoke;
    background-color: gray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 0;
    width: 30%;
    margin: auto;
    margin-top: 10px;
}
#menu {
    border: 2px solid whitesmoke;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: whitesmoke;
    width: 50%;
    height: 30px;
    line-height: 30px;
    margin: auto;
    margin-top: 20px;
}
#menu a {
    color: lightyellow;
    text-decoration: none;
}
#menu a:hover {
    color: yellow;
    text-decoration: underline;
}
#tartalom {
    width: 100%;
}
#teaser {
    width: 40%;
    float: left;
    transition-duration: 1.5s;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
}
#teaser:hover {
    cursor: zoom-in;
    width: 50%;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22.5px;
    color: whitesmoke;
    width: 70%;
    text-align: center;
    text-align: justify;
    margin: auto;
    padding-top: 25px;
}